.portfolio h1 {
  color: #333;
  text-align: center;
}

.portfolio p {
  color: #555;
  font-size: 1.125rem;
  text-align: center;
}

.portfolio img {
  width: 100%;
  height: 600px;
}

@media (max-width:768px) {
  .portfolio img {
    width: 100%;
    height: auto;
  }
}