.container {
  overflow: hidden;
} 

.content {
  display: flex;
  transition: transform .3s ease;
}

.content h4 {
  font-size: 1.5rem;
  color: #333;
  padding: 1rem 0;
  text-decoration: underline; 
}

.item {
  flex-shrink: 0;
  width: 80%;
  margin: 0 10%;
  padding: 1rem 0;
  border-radius: .4rem;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
  width: 80%;
}

.nav button {
  border: none;
  border-radius: .4rem;
  background: #333;
  color: white;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.nav button:hover {
  opacity: .6;
}

@media (max-width:768px) {
  .content {
    width: 100%;
  }
}