.about {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.about > h1 {
  grid-column: 1 / -1;
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
}

.about img {
  width: 500px;
}

.content p {
  color: #555;
  font-size: 1.1rem;
}

.job {
  font-weight: 600;
}

.curriculo button {
  color: white;
  margin-top: 2.5rem;
} 

@media (max-width:768px) {
  .about img {
    grid-column: 1 / -1;
    justify-self: center;
    width: 300px;
    grid-row: 4 / 5;
    margin-top: 1.5rem;
  }

  .content {
    grid-column: 1 / -1;
    text-align: center;
  }
}

@media (max-width:400px) {
  .about img {
    width: 100%;
  }

  .content {
    width: fit-content;
  }
}