.about {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.about > h1 {
  grid-column: 1 / -1;
  text-align: center;
  color: #333;
}

.about > p {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 4rem;
  color: #555;
}

.about img {
  width: 500px;
}

.content p {
  color: #555;
  margin-bottom: 1rem;
}

.content button a {
  color: white;
} 

@media (max-width:768px) {
  .about img {
    grid-column: 1 / -1;
    justify-self: center;
    width: 300px;
    grid-row: 4 / 5;
    margin-top: 1.5rem;
  }

  .content {
    grid-column: 1 / -1;
    text-align: center;
  }
}

@media (max-width:400px) {
  .about img {
    width: 100%;
  }

  .content {
    width: fit-content;
  }
}