.about {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  padding: 40px;
}

.ensinoSuperior > h2 {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 20px;
}

.about > h1 {
  grid-column: 1 / -1;
  text-align: center;
  color: #333;
  margin-bottom: 3rem;
}

.ensinoSuperior p {
  font-size: 1.2rem;
  color: #333;
}

.cursosComplementares li {
  display: flex;
  justify-content: space-between;
}

.cursosComplementares h2 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #333;
}

.cursosComplementares p {
  color: #333;
  font-weight: 700;
  font-size: 1.2rem;
}

.cursosComplementares > h2 {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 20px;
  font-weight: 700;
}

.curriculo button {
  color: white;
  margin-top: 2.5rem;
} 

@media (max-width:1000px) {
  .about {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 80px;
  }

  .content {
    grid-column: 1 / -1;
    text-align: center;
  }

  .ensinoSuperior {
    width: 600px;
  }

  .cursosComplementares li {
    display: flex;
    width: 600px;
    justify-content: space-between;
  }
}

@media (max-width:687px) {
  .ensinoSuperior {
    text-align: center;
    width: 400px;
  }

  .ensinoSuperior p {
    font-size: 18px;
  }

  .cursosComplementares li h2 {
    font-size: 16px;
  }

  .cursosComplementares li p {
    font-size: 16px;
  }

  .cursosComplementares li {
    width: 400px;
  }

  .content {
    width: fit-content;
  }
}

@media (max-width: 500px) {
  .ensinoSuperior {
    width: auto;
  }

  .ensinoSuperior p {
    font-size: 16px;
  }

  .cursosComplementares li {
    width: auto;
    align-items: center;
  }

  .cursosComplementares li h2 {
    font-size: 12px;
  }

  .cursosComplementares li p {
    display: flex;
    font-size: 12px;
    width: 100px;
    text-align: right;
    display: flex;
    justify-content: end;
  }
}

@media (max-width: 440px) {
  .ensinoSuperior p {
    font-size: 14px;
  }
}