.home {
  padding-top: 2rem;
  padding-left: 2rem;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  max-width: 70px;
}

.content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.contentText h1 {
  color: #333;
  font-size: 3.5rem;
}

.contentText span {
  color: #333;
  font-size: 1.4rem;
}

.contentText span::before {
  content: "";
  width: 60px;
  height: 2px;
  margin-right: 5px;
  display: inline-block;
  background-color: #555;
}

.contentText p {
  color: #555;
  font-size: 1.125rem;
}

.contentText button {
  margin-top: 40px;
}

.contentText img {
  width: 35px;
  height: 20px;
  vertical-align: middle;
}

.contentPhoto img {
  width: 450px;
}

@media (max-width:1050px) {
  .home {
    display: grid;
    gap: 0rem;
    justify-content: center;
    height: auto;
  }

  .social {
    position: relative;
    top: 10px;
    flex-direction: row;
  }

  .social img {
    width: 45px;
    height: 45px;
  }

  .contentPhoto img {
    width: 350px;
  }
}

@media (max-width:768px) {
  .home {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex-direction: column;
  }

  .contentText {
    text-align: center;
  }

  .social {
    right: 3rem;
  }

}

@media (max-width:400px) {
  .contentText h1 {
    font-size: 2.5rem
  }

  .contentText span {
    font-size: 1.3rem;
    width: auto;
  }

  .contentText span::before {
    display: none;
  }

  .contentText p {
    font-size: 1rem;
    max-width: fit-content;
  }

  .contentPhoto img {
    max-width: 100%;
  }
}