.bg {
  margin-top: 5rem;
  background-color: white;
  padding: 1rem 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  position: relative;
  top: -5px;
  width: 100px;
  margin: 0 auto;
}

.footer > p {
  color: #333;
  text-align: center;
}

.links {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.links a {
  color: #333;
}

.links a:hover {
  text-decoration: underline;
}

.social {
  text-align: center;
  margin-top: 1rem;
}

.social img{
  width: 45px;
  height: 45px;
}

.social img:hover {
  opacity: .6;
}

.footer > p {
  margin-top: 1rem;
}