.button {
  border: transparent;
  padding: 1rem .5rem;
  width: 150px;
  margin: 0 auto;
  border-radius: .4rem;
  background-color: #B78300;
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  transition: .3s;
  cursor: pointer;
}

.button:hover {
  background-color: #CDB21C;
}