@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spectral', serif;
}

body {
  background: linear-gradient(90deg, #eeee, #ffd);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

h1 {
  font-size: 2.5rem;
}

a, p {
  font-size: 1rem
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
  opacity: 0;
  transform: translateX(-200px);
  transition: 1s ;
}

.ativo {
  opacity: 1;
  transform: translateX(0);
}

.animationImage {
  animation: animaImg 2.5s infinite alternate-reverse;
}

@keyframes animaImg {
  to {
    scale: 0.9;
  }
  for {
    scale: 1;
  }
}